html, body {
  position: relative;
  width: 100%;
  height: 100%;
	margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

html {
  font-size: 16px;
}

body {
  font-size: 0.75em;
  min-width: 25rem;
}

.page-container {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  padding-top: 3rem;
}

.page-container .button-wrapper {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}

.page-container .result {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  font-family: monospace;
}

.page-container .flag-container {
  position: absolute;
  width: 100%;
  top: -0.5rem;
  z-index: 99;
}

.page-container .flag-container .flag {
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 100px solid grey;
  border-radius: 50%;
  margin: 0 auto;
}

.page-container .pie-container {
  position: relative;
	width: 25rem;
  height: 25rem;
  margin: 0 auto;
  border-radius: 25rem;
  background-color: rgb(136, 143, 255);
}

.page-container .pie-container .pie-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 25rem;
  height: 25rem;
  border-radius: 25rem;
  clip: rect(0 25rem 25rem 12.5rem);
}

#pie-slice2 {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#pie-slice3 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

#pie-slice4 {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#pie-slice5 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

#pie-slice6 {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}

#pie-slice7 {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}

#pie-slice8 {
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}

.page-container .pie-container .pie-wrapper .pie {
  position: absolute;
  top: 0;
  left: 0;
  width: 25rem;
  height: 25rem;
  border-radius: 25rem;
  clip: rect(0 12.5rem 25rem 0);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.page-container .pie-container .pie-wrapper .pie .pie-text {
  width: 8rem;
  text-align: center;
  word-break: break-all;
  color: black;
  margin: 3rem 5rem;
  font-size: 1rem;
  font-family: monospace;
  transform: rotate(-22.5deg);
  -webkit-transform: rotate(-22.5deg);
  z-index: 999;
}

.page-container .pie-container .pie-wrapper .pie1 {
  background-color: red;
}

.page-container .pie-container .pie-wrapper .pie2 {
	background-color: orange;
}

.page-container .pie-container .pie-wrapper .pie3 {
  background-color: yellow;
}

.page-container .pie-container .pie-wrapper .pie4 {
	background-color: lightgreen;
}

.page-container .pie-container .pie-wrapper .pie5 {
  background-color: aquamarine;
}

.page-container .pie-container .pie-wrapper .pie6 {
	background-color: blue;
}

.page-container .pie-container .pie-wrapper .pie7 {
	background-color: blueviolet;
}

.page-container .pie-container .pie-wrapper .pie8 {
	background-color: violet;
}
